<div class="chat-room-show-page">

    <% unless @chat_room_user.nil? %>
        <nav class="navbar navbar-light chat-room__header">

            <%= link_to matching_index_path, class: "nav-item nav-link" do%>
            <i class="fas fa-chevron-left"></i>
            <% end %>

            <div class="chat-room__partner">
            <span class="chat-room__partner-name">
                <%= @chat_room_user.name %>
            </span>

            <% if @chat_room_user.image_binary.nil? %>
                <div class="chat-room__partner-default-img"></div>
            <% else %>
                <%= image_tag "data:image/png;base64," + @chat_room_user.image_binary, class: "chat-room__partner-img" %>
            <% end %>
            </div>
        </nav>

        <div id='chat-messages'>
            <%= render @chat_messages %>
        </div>

        <form class="chat-room__message-form">
            <textarea data-behavior="chat_room_speaker" data-chat_room_id="<%= @chat_room.id %>" placeholder="メッセージを入力" class="chat-room__message-form_textarea"></textarea>
        </form> 
    <% end %>
</div>
